<a href="https://colab.research.google.com/github/ccd105/In-Class-Assignment-1/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Area of a cylinder:

In [ ]:
radius = float(input("Please provide the radius: "))
height = float(input("Please provide the height: "))
pi = 3.1415926

area = (2 * pi * radius**2)+(2 * pi * radius * height)
print(f'Area of cylinder = {area} sq. ft')

Please provide the radius: 5
Please provide the height: 10
Area of cylinder = 471.23889 sq. ft

**Fri Jan 31:** Design a calculator

In [ ]:
first = float(input("Please provide the first number: "))
opperation = input("Please provide the opperation (+,-,*,/,//,**,%): ")
second = float(input("Please provide the second number: "))

if opperation == "+":
    print(f'{first} + {second} = {first + second}')
elif opperation == "-":
    print(f'{first} - {second} = {first - second}')
elif opperation == "*":
    print(f'{first} * {second} = {first * second}')
elif opperation == "/":
    print(f'{first} / {second} = {first / second}')
elif opperation == "//":
    print(f'{first} // {second} = {first // second}')
elif opperation == "**":
    print(f'{first} ** {second} = {first ** second}')
elif opperation == "%":
    print(f'{first} % {second} = {first % second}')
else:
    print("Invalid opperation")

Please provide the first number: 5
Please provide the opperation (+,-,*,/,//,**,%): #
Please provide the second number: 9
Invalid opperation

**2/5 Parking Garage - Initial Problem**

In [ ]:
for number in range(1, 9):
  fee = 5 + 2.5 * number
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
   fee = 20.0
  print(number, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

**2/5 Movie Theater - Initial Problem**

In [ ]:
print('Ad$' , 'Profit')
for adcost in range(0,201,25):
  additional = 2 * round(adcost ** 0.5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost , profit)

Ad$ Profit
0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

**2/10 Rock-Paper-Scissors**

In [ ]:
import random

play = input("Would you like to play? (y/n): ")

while play == "y":
  p1 = input("Player 1 (rock, paper, scissors): ")
  p2 = random.choice(["rock", "paper", "scissors"])

  print(f'Player chose {p1}; Computer chose {p2}')

  if p1 == p2:
    print("Draw")
  elif p1 == "rock" and p2 == "scissors":
    print("Player 1 Wins!")
  elif p1 == "scissors" and p2 == "paper":
    print("Player 1 Wins!")
  elif p1 == "paper" and p2 == "rock":
    print("Player 1 Wins!")
  else:
    print("Player 2 Wins!")

  play = input("Do you want to play a new game? (y/n): ")

print("Good day!")

Would you like to play? (y/n): y
Player 1 (rock, paper, scissors): paper
Player chose paper; Computer chose paper
Draw
Do you want to play a new game? (y/n): n
Good day!

**2/17 Numbers Until 0**

In [ ]:
lst = []

num = float(input("Please provide a number: "))

while num != 0:
  lst.append(num)
  num = float(input("Please provide a number: "))
lst.sort(reverse=True)
print(lst)

Please provide a number: 5
Please provide a number: 7
Please provide a number: 8
Please provide a number: 6
Please provide a number: 0
[8.0, 7.0, 6.0, 5.0]

**2/21 Dictionary**

In [ ]:
months = {
    "Jan": 1,
    "Feb": 2,
    "Mar": 3,
    "Apr": 4,
    "May": 5,
    "Jun": 6,
    "Jul": 7,
    "Aug": 8,
    "Sep": 9,
    "Oct": 10,
    "Nov": 11,
    "Dec": 12
}

print(months)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

**Build a dictionary dynamically**

In [ ]:
counts = {}

while len(counts) < 5:
  key = input("Please enter a string: ")
  if key in counts:
    counts[key] += 1
  else:
    counts[key] = 1
counts

Please enter a string: a
Please enter a string: b
Please enter a string: c
Please enter a string: c
Please enter a string: d
Please enter a string: a
Please enter a string: a
Please enter a string: a
Please enter a string: e

{'a': 4, 'b': 1, 'c': 2, 'd': 1, 'e': 1}

**2/26 Parking Garage-Initial Problem**

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
   fee = 20.0
  print(f'Fee: ${fee}')

def main():
  numHours = int(input("Enter hours parked: "))
  calcFee(numHours)

if __name__ == "__main__":
  main()

Enter hours parked: 4
Fee: $15.0

**Reverse strings Using Recursion**

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1]+reverse(s[:-1])

reverse('Hello')

'olleH'

**Exception Error**

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
   fee = 20.0
  print(f'Fee: ${fee}')

def main():
  try:
    numHours = int(input("Enter hours parked: "))
    calcFee(numHours)
  except ValueError:
    print("Cannot cast to int().")
  except:
    print("Unknown error...")

if __name__ == "__main__":
  main()

Enter hours parked: -5
Fee: $10.0

In [ ]:
def getValues(n):
  L = []
  for i in range(n):
    try:
     weight = float(input("Please enter a weight:"))
    except ValueError:
      print("Cannot cast to float().")
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(sum(alist[2:]) / len(alist[2:]))
  except ZeroDivisionError:
    print("Cannot divide by zero.")

if __name__ == "__main__":
  try:
   n = int(input("Enter size of list: "))
  except ValueError:
    print("Input cannot be casted as int()")
  alist = getValues(n)
  calcAverage(alist)

Enter size of list: 0
Cannot divide by zero.

**Class Greeting**

In [24]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal=False):
    if formal:
      print(f'Hello {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
greeting2 = Greeting('Bob', 'Dylan')
greeting.display(formal=True)
print(greeting)
print(greeting2)

Hello Donald Becker
Donald, Becker
Bob, Dylan